
<h2>Search for the title of the movie</h2><br>
<form action="/search-title" method="POST">
    <input type="text" name="movie_title" placeholder="Enter Movie Title" required />
    <button type="submit">Search</button>
</form><br>

{{{backButton '/'}}}